{:highlights [{:id #uuid "64656f6e-9f29-453d-b57d-e424244257d0",
               :page 3,
               :position {:bounding {:x1 8,
                                     :y1 4,
                                     :x2 502,
                                     :y2 721,
                                     :width 512.1220889649272,
                                     :height 763.4901625320787},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1684369260804},
               :properties {:color "yellow"}}
              {:id #uuid "64657004-a7b1-4723-9c05-e3316027c14d",
               :page 4,
               :position {:bounding {:x1 6,
                                     :y1 7,
                                     :x2 454,
                                     :y2 616,
                                     :width 501.1795158254919,
                                     :height 763.4901625320787},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1684369411456},
               :properties {:color "yellow"}}
              {:id #uuid "64657079-2283-4330-a571-53e55b150a97",
               :page 1,
               :position {:bounding {:x1 29,
                                     :y1 55,
                                     :x2 854,
                                     :y2 1315,
                                     :width 974.1666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1684369528820},
               :properties {:color "yellow"}}
              {:id #uuid "646570e9-5f66-4583-bea2-725734d351e2",
               :page 2,
               :position {:bounding {:x1 28,
                                     :y1 13,
                                     :x2 786,
                                     :y2 1083,
                                     :width 983.3333333333333,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1684369640930},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
